@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HamLife</h1>
    <p class="lead">HamLife is a place where Hamilton fans can come and find cool things to express their love for this masterpiece!.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cool Swag</h2>
        <p>
            Checkout our cool t shirts under the products tab above
        </p>
        <p><a class="btn btn-default" href="https://www.broadway.com/shows/hamilton-broadway/?gclid=Cj0KCQjwhr2FBhDbARIsACjwLo2m7dQM5Ve991cJTSj6dzG-n8J79eptQtyFTLPYUMkRjJ0YUM-1VzEaAjaIEALw_wcB">See a Show &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>Check out Hamilton Inspired Charities .</p>
        <p><a class="btn btn-default" href="https://raiseupfund.com/">Charites &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entertainment</h2>
        <p>What are the cast up to?</p>
        <p><a class="btn btn-default" href="https://www.broadwayworld.com/shows/Hamilton-331238/cast">Cast and more! &raquo;</a></p>
    </div>
</div>